@font-face {
  font-family: 'switzer-italic';
  src: url('../fonts/Switzer-VariableItalic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.switzer-italic {
  font-family: 'switzer-italic', sans-serif;
  font-style: italic;
}

.hero-btn-wrapper {
  position: relative;
  display: inline-block;
}

/* Inner button */
.hero-btn {
  width: 15rem !important;
  position: relative;
  z-index: 1;
  display: block;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  padding: 14px 32px;
  text-transform: none;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 0.4rem;
  border: 0;

  /* your red core */
  background: radial-gradient(
    50% 50% at 50% 50%,
    #841403 0%,
    #841403 100%
  ) !important;
  color: #ffffff;

  /* inner bevel-ish look */
  box-shadow:
    inset 0 -4px 2px rgba(0, 0, 0, 0.25),
    inset 0 2px 1px rgba(255, 255, 255, 0.25);
}

/* Animated golden border behind the button */
.hero-btn-border {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 3px);
  height: calc(100% + 3px);

  /* golden gradient */
  background: linear-gradient(
    90deg,
    #cc850b 0%,
    #dcb821 30%,
    #ffd700 65%,
    #f3d25e 100%
  );
  background-size: 600% 600%;

  border-radius: 0.4rem;
  animation: heroBorderGlow 3s ease infinite;
  z-index: 0;
  transform: translate(-1.5px, -1.5px);
  transition: filter 0.2s ease-in;
}

/* extra glow on hover */
.hero-btn-wrapper:hover .hero-btn-border {
  filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 4px);
  height: calc(100% + 4px);

  /* golden gradient */
  background: linear-gradient(
    90deg,
    #cc850b 0%,
    #dcb821 30%,
    #ffd700 65%,
    #f3d25e 100%
  );
  background-size: 600% 600%;

  border-radius: 0.4rem;
  animation: heroBorderGlow 3s ease infinite;
  z-index: 0;
  transform: translate(-2px, -2px);
  transition: filter 0.2s ease-in;
  box-shadow: 0 0 24px 2px rgba(220,184,33,0.6);
}

/* Border animation */
@keyframes heroBorderGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient-text {
  display: inline;
}

.animated-gradient-text {
  background: linear-gradient(90deg, #DCB821, #FFD586, #DCB821, #FFD586);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: gradient-shift 4s ease-in-out infinite;
}

@keyframes gradient-shift {
  0%, 100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
}